:root {
  --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);

  --dark-blue: #142664;
  --dark-purple: #422179;
  --dark-green: #486478;
  --orange: #fc6a48;
  --white: #f8f8f8;

  --standard-black: hsl(0, 4%, 5%);
  --light-dark: hsl(0, 3%, 22%);
  --light-orange: linear-gradient(
    270deg,
    #fed1cc 17.36%,
    rgba(254, 209, 204, 0) 93.71%
  );
}
