---
import LinkNewWindow from '../atoms/LinkNewWindow.astro';

export interface Props {
	title: string;
	desc: string;
	tags: string[];
}

const { title, desc, tags, } = Astro.props;
---

<li class="link-card">
		<div id="link-card__wrapper">		
			<div id="link-card__content">
				<div id="link-card__content-links" >
					<h3>{title}</h3>	
					<a href={`/eng/projects/${title.toLocaleLowerCase().replace(' ', '_')}`}>
						<LinkNewWindow color="#eee" /> see project
					</a>
				</div>
				<p id="link-card__content-body">{desc}</p>
				<p id="link-card__content-tags">{tags.map(tag => <small>{tag}</small>)}</p>
			</div>
		</div>
</li>

<style>
	:root {
		--link-gradient: linear-gradient(90deg, #ffffff, rgb(255, 237, 155) 50%, var(--color-border) 60%);
	}

	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: .15rem;
		border-radius: 5px;
		transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		margin: 2em 0;
		width: 22em;
	}

	@media(max-width: 375px) {
		.link-card {
			width: 20em;
		}
	}

	@media(max-width: 320px) {
		.link-card {
			width: 15em;
		}
	}
	
	#link-card__wrapper {
		display: flex;
		flex-direction: column;
	}@media (max-width: 768px) {
		#link-card__content {
			flex-direction: row;
		}	
	}

	#link-card__content {
		background-color: #1e102e;
		transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		padding: 1em;
		border-radius: 5px;
	}

	#link-card__content:is(:hover, :focus-within) {
		background-position: 0;
	}

	#link-card__content-body {
		width: 42ch;
		font-weight: 300;
		color: rgb(224, 224, 224);
	}

	@media (max-width: 375px) {
		#link-card__content-body {
			font-size: 1rem;
			width: 32ch;
			margin: 10px auto;
		}
	}

	@media (max-width: 320px) {
		#link-card__content-body {
			font-size: 1rem;
			width: 20ch;
			margin: 10px auto;
		}
	}

	#link-card__content-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: .5em;
	}#link-card__content-links h3 {
		margin: 0;
		color: white;
		font-size: var(--font-size-lg);
	}#link-card__content-links a {
		display: flex;
		align-items: center;
		margin: 0;
		color: var(--white);
		transition: text-decoration .2s ease-in-out;
		font-size: .9rem;
	}#link-card__content-links a:hover {
		margin: 0;
		text-decoration: underline;
	}

	@media (max-width: 768px) {
		#link-card__content-links {
			flex-direction: column;
			justify-content: center;
		}

		link-card__content-links a {
			font-size: .6rem;
		}
	}

	#img-container img {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		width: 100%;
		height: 100%;
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
		font-size: .9rem;
	}@media (max-width: 768px) {
		h3, p { text-align: center; }
	}

	#link-card__content-tags {
		display: flex;
	}

	small {
		font-size: .7rem;
		padding: .3em .5em;
		background-color: rgb(228, 227, 227);
		border-radius: 10px;
		margin-right: 5px;
	}

	@media(max-width: 360px) {
		#link-card__content-tags {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: .2em;
		}
	}

</style>
