---
import { t } from "i18next";
---

<section id="about">
  <div id="about-desc-container">
    <article id="skills" class="">
      <h2>{t("about.title")}</h2>
      <img src="/assets/profile.webp" alt="Foto de perfil" />
      <p>
        {t("about.1st-desc")}
      </p>
      <p>
        {t("about.2nd-desc")}
      </p>
    </article>
  </div>
</section>

<style>
  section {
    position: relative;
    padding: 14em 80px;
    background: linear-gradient(
      143deg,
      #223843 -227.71%,
      #1b2d36 -109.44%,
      #010715 116.37%
    );

    article {
      text-align: center;

      :is(h2, p) {
        color: var(--white-color);
      }

      h2 {
        margin-bottom: 1.8rem;
      }

      img {
        margin-top: 0;
        width: 10em;
        height: 10em;
        object-fit: cover;
        border-radius: 50%;
        margin-inline: auto;
      }

      p {
        font-size: 1.1rem;
        margin: 2em auto;
        width: 60ch;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    section {
      background: linear-gradient(
        143deg,
        #d6e3ea -227.71%,
        #c0d6e0 -109.44%,
        #eaebee 116.37%
      );

      article {
        :is(h2, p) {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
