---
import { t } from "i18next";

---

<section id="abt-section">
  <h2 id="about" class="abt-section__title">{t("about.title")}</h2>
  <div id="abt-section__content">
    <article class="cont-wrapper">
      <div class="cols-wrapper">
        <h3 class="col-title work">{t("about.work.title")}</h3>
        <div id="first-column">
          <p class="description-text">
            {t("about.work.first-desc")}
          </p>
          <p class="description-text">
            {t("about.work.second-desc")}
            <a
              style="color: #5a70f2"
              href="https://www.freecodecamp.org/espanol/news/author/elias-pereyra/"
              target="_blank">{t("about.third-desc")}</a
            >
          </p>
          <div class="card-wrapper">
            <div class="card">
              <a href="https://www.freecodecamp.org/espanol/news/explotacion-de-cors-como-probar-vulnerabilidades/" target="_blank">
                <h5>Explotación de CORS: Cómo probar vulnerabilidades de recursos compartidos entre orígenes</h5>
              </a>
            </div>
            <div class="card">
              <a href="https://www.freecodecamp.org/espanol/news/gitting-things-done-una-guia-visual-y-practica-para-git-libro-completo/" target="_blank">
                <h5>Gitting Things Done – Una guía visual y práctica para Git [Libro completo]</h5>
              </a>
            </div>
            <div class="card">
              <a href="https://www.freecodecamp.org/espanol/news/learn-linux-for-beginners-from-basics-to-advanced-techniques-full-book/" target="_blank">
                <h5>Aprender Linux para Principiantes: Desde las Bases a Técnicas Avanzadas [Libro Completo]</h5>
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </article>
    <article class="cont-wrapper">
      <div class="cols-wrapper">
        <h3 class="col-title personal">{t("about.personal.title")}</h3>
        <div id="first-column">
          <p class="description-text">
            {t("about.personal.first-desc")}
          </p>
          <p class="description-text">
            {t("about.personal.second-desc")}
          </p>
        </div>
      </div>
    </article>
  </div>
</section>

<style>
  #abt-section {
    border-top: 1px solid hsl(225, 17%, 6%);
    position: relative;
    padding: 16em 10em;
    z-index: 5;
    background: linear-gradient(250deg, #060912 10%, #14161c 320%);

    .abt-section__title {
      margin-bottom: 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/assets/grid.svg");
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.34;
      filter: saturate(200%) invert(0.85) drop-shadow(0 0 0.75rem #2d97d4fa) hue-rotate(80deg);
      mask-image: linear-gradient(350deg, transparent 70%, black);
    }

    @media (max-width: 1000px) {
      padding: 12em 2em;
    }

    #abt-section__content {
      display: flex;
      gap: 1rem;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .cont-wrapper {
        background: linear-gradient(
          90deg,
          #2e2d6023 -150%,
          #37346c23 -120%,
          #17274d4c 100%
        );
        padding: 1.5rem;
        border: 1px solid #1c1b44;
        border-radius: 0.77rem;
        margin-inline: auto;

        .cols-wrapper {
          display: flex;
          flex-direction: column;
          gap: 1em;

          .col-title {
            color: var(--white-c-900);
            font-size: 1.9rem;
          }

          .work {
            color: #91ff90;
          }

          .personal {
            color: #adc3ff;
          }
          
          #first-column {
            position: relative;
            .description-text {
              color: var(--white-c-800);
              font-size: 1.12rem;
              margin-inline: auto;
              margin-bottom: 2em;
              line-height: 1.6rem;
              width: fit-content;
            }
            
            .card-wrapper {
              .card {
                padding: 1.4em 1em;
                border-radius: 0.5em;
                width: 9.4em;
                height: auto;
                position: absolute;
                bottom: -12em;
                left: 12em;
                transition: transform 0.23s ease-in-out;
                border: 1px solid #15171d;

                @media (max-width: 768px) {
                  bottom: -38em;
                  left: 10em;
                }

                @media (max-width: 660px) {
                  display: none;
                }
                
                h5 {
                  color: var(--white-c-900);
                  font-size: 0.9rem;
                  text-align: center;

                  &:hover {
                    text-decoration: underline;
                  }
                }
                
                &:nth-child(1) {
                  background: linear-gradient(250deg, #0a132bfa 10%, #14161c 320%);
                  transform: translateX(-7em) rotate(-10deg);
                  border: 5px solid;
                  border-image-source: linear-gradient(200deg, #5c66f7fa 10%, #ca2866 120%);
                  border-image-slice: 1;

                  &:hover {
                    transform: translateX(-10em) rotate(0deg) scale(1.2);
                  }
                }

                &:nth-child(2){
                  background: linear-gradient(250deg, #0b0a2bfa 10%, #030818 320%);
                  transform: rotate(0deg);
                  border: 5px solid;
                  border-image-source: linear-gradient(150deg, #5cf7d5fa 10%, #6628ca 100%);
                  border-image-slice: 1; 
                  z-index: 5;

                  &:hover {
                    transform: translateX(0em) scale(1.2);
                  }
                }

                &:nth-child(3){
                  background: linear-gradient(250deg, #0a132bfa 10%, #14161c 320%);
                  transform: translateX(7em) rotate(10deg);
                  border: 5px solid;
                  border-image-source: linear-gradient(150deg, #c65cf7fa 10%, #286eca 100%);
                  border-image-slice: 1; 

                  &:hover {
                    transform: translateX(10em) rotate(0deg) scale(1.2);
                  }
                }
              }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    #abt-section {
      .description-text {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    #abt-section {
      padding: 12em 1rem;
    }
  }

  @media (prefers-color-scheme: light) {
    #abt-section {
    border-top: 1px solid hsl(228, 78%, 86%);
      background: linear-gradient(
        143deg,
        #d6e3ea -227.71%,
        #c0d6e0 -109.44%,
        #eaebee 116.37%
      );
      color: var(--primary-color);

      #abt-section__content {
        .cont-wrapper {
          background: linear-gradient(
            90deg,
            #9b9ac923 -150%,
            #8c89c023 -120%,
            #98aee04c 100%
          );
        border: 1px solid #bcbbe9;


          .cols-wrapper {
            .col-title {
              color: var(--black-c-700);
            }

            #first-column {
              .description-text {
              color: var(--black-c-700);
            }
            }
          }
      }
    }
  }
</style>
