---
import { t } from "i18next";

---

<section id="abt-section">
  <h2 id="about" id="abt-section__title">{t("about.title")}</h2>
  <div id="abt-section__content">
    <article class="cont-wrapper">
      <div class="cols-wrapper">
        <h3 class="col-title">{t("about.work.title")}</h3>
        <div id="first-column">
          <p class="description-text">
            {t("about.work.first-desc")}
          </p>
          <p class="description-text">
            {t("about.work.second-desc")}
            <a
              style="color: #5a70f2"
              href="https://www.freecodecamp.org/espanol/news/author/elias-pereyra/"
              target="_blank">{t("about.third-desc")}</a
            >
          </p>
        </div>
      </div>
    </article>
    <article class="cont-wrapper">
      <div class="cols-wrapper">
        <h3 class="col-title">{t("about.personal.title")}</h3>
        <div id="first-column">
          <p class="description-text">
            {t("about.personal.first-desc")}
          </p>
          <p class="description-text">
            {t("about.personal.second-desc")}
            <a
              href="https://www.freecodecamp.org/espanol/news/author/elias-pereyra/"
              target="_blank">{t("about.third-desc")}</a
            >
          </p>
        </div>
      </div>
    </article>
  </div>
</section>

<style>
  #abt-section {
    border-top: 1px solid hsl(225, 17%, 6%);
    position: relative;
    padding: 14em 10em;
    background: linear-gradient(250deg, #060912 10%, #14161c 320%);

    @media (max-width: 1000px) {
      padding: 12em 4rem;
    }

    #abt-section__title {
      margin-bottom: 4rem;
    }

    #abt-section__content {
      display: flex;
      gap: 1rem;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .cont-wrapper {
        background: linear-gradient(
          90deg,
          #2e2d6023 -150%,
          #37346c23 -120%,
          #17274d4c 100%
        );
        padding: 1.5rem;
        border: 1px solid #1c1b44;
        border-radius: 0.77rem;
        margin-inline: auto;

        .cols-wrapper {
          display: flex;
          flex-direction: column;
          gap: 1em;
          
          .col-title {
            color: var(--white-c-900);
            font-size: 1.9rem;
          }
          
          #first-column {
            .description-text {
              color: var(--white-c-800);
              font-size: 1.12rem;
              margin-inline: auto;
              margin-bottom: 2em;
              line-height: 1.9rem;
              width: fit-content;

              a {
                color: var(--white-gray__color);
                text-decoration: underline;
                transition: color 0.15s ease-in-out;
                &:hover {
                  color: var(--secondary-lighter__color);
                }
              }

              #about__follow-text {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                color: lightblue;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    #abt-section {
      .description-text {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    #abt-section {
      padding: 12em 2rem;
    }
  }

  @media (prefers-color-scheme: light) {
    #abt-section {
    border-top: 1px solid hsl(228, 78%, 86%);
      background: linear-gradient(
        143deg,
        #d6e3ea -227.71%,
        #c0d6e0 -109.44%,
        #eaebee 116.37%
      );
      color: var(--primary-color);

      #abt-section__content {
        .cont-wrapper {
          background: linear-gradient(
            90deg,
            #9b9ac923 -150%,
            #8c89c023 -120%,
            #98aee04c 100%
          );
        border: 1px solid #bcbbe9;


          .cols-wrapper {
            .col-title {
              color: var(--black-c-700);
            }

            #first-column {
              .description-text {
              color: var(--black-c-700);
            }
            }
          }
      }
    }
  }
</style>
