---
import { t } from "i18next";
---

<section id="contact">
  <div class="cont__text-content">
    <h2 id="tc__title">{t("contact.title")}</h2>
    <p id="tc__comment">{t("contact.comment")}</p>
  </div>
  <div id="cont__copy-wrapper">
    <a href="mailto:eliaspereyra_gomez@hotmail.com" id="cw__copy-btn"
      >{t("contact.button")}</a
    >
  </div>
</section>

<script>
  // @ts-nocheck
  // import Toastify from "toastify-js";
  // import "toastify-js/src/toastify.css";

  // const copyBtn = document.querySelector("#contact__copy-btn");

  // copyBtn?.addEventListener("click", () => {
  //   navigator.clipboard.writeText("eliaspereyra_gomez@hotmail.com");
  //   Toastify({
  //     text: "Email copied to the clipboard",
  //     className: "info",
  //     style: {
  //       background: "linear-gradient(to right, #0e0f1b, #0C0E22)",
  //       color: "white",
  //     },
  //   }).showToast();
  // });
</script>

<style>
  #contact {
    padding: 14em 10em;
    background: #080a10;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    position: relative;
    container-type: inline-size;
    text-align: center;

    .cont__text-content {
      display: flex;
      flex-direction: column;
      #contact__title {
        color: var(--white-c-900);
        font-size: 3.125rem;
        max-width: 23ch;
        line-height: 4rem;
      }

      #tc__comment {
        margin: 1rem auto;
        color: var(--white-c-800);
        line-height: 1.8rem;
        width: 35ch;

        @media (max-width: 600px) {
          width: 20ch;
        }
      }
    }

    #cont__copy-wrapper {
      color: var(--white-color);
      padding: 1em 2em;
      border-radius: 0.5rem;
      font-size: 1rem;
      border: 1px solid #5c5ba1;
      background: #0a0c10;
      box-shadow: 0px 0px 18px 8px #1b2d36;
      transition:
        border,
        box-shadow 0.2s ease-out;
      &:hover {
        box-shadow: 0px 0px 18px 8px #2d4b5a;
        border: 1px solid #6c48b9;
      }

      #cw__copy-btn {
        color: var(--white-c-800);
      }
    }
  }

  @media screen and (max-width: 1400px) {
    #contact {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 600px) {
    #contact {
      padding: 12em 2rem;
      .cont__text-content {
        #contact__message {
          width: 100%;
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    #contact {
      background: #e4ecf1;

      .cont__text-content {
        #tc__title {
          color: var(--primary-color);
        }

        #tc__comment {
          color: var(--primary-color);
        }
      }

      #cont__copy-wrapper {
        background: #cedaf0;
        border: 1px solid #92add6;
        box-shadow: 0px 0px 18px 8px #b0d8ec;

        &:hover {
          box-shadow: 0px 0px 18px 8px #7fb9f0;
          border: 1px solid #487db9;
        }

        #cw__copy-btn {
          color: var(--black-c-800);
        }
      }
    }
  }
</style>
