<section>
  <h2>¿Estás en búsqueda de un desarrollador?</h2>
  <p>Actualmente me encuentro disponible para trabajar</p>
  <button>Envíame un mensaje</button>
</section>

<style>
  section {
    padding: 8em 80px;
    background: #0E161B;
    text-align: center;

    button {
      color: var(--white-color);
      border-radius: 10px;
      border: 1px solid #5F3EA5;
      background: #121111;
      box-shadow: 0px 0px 18px 8px #1B2D36;
    }
  }
</style>