---
import { t } from "i18next";
---

<section id="contact">
  <h2>{t("contact.title")}</h2>
  <p>{t("contact.comment")}</p>
  <button>{t("contact.button")}</button>
</section>

<style>
  section {
    padding: 14em 80px;
    background: #0e161b;
    text-align: center;

    h2 {
      color: var(--white-color);
      font-size: 50px;
      max-width: 23ch;
      margin: 0 auto;
      line-height: 60px;
    }

    p {
      margin: 1.5rem auto;
      color: var(--white-gray-color);
      max-width: 60ch;
      min-width: 45ch;
    }

    button {
      color: var(--white-color);
      padding: 1em;
      border-radius: 10px;
      font-size: 1rem;
      border: 1px solid #5f3ea5;
      background: #121111;
      box-shadow: 0px 0px 18px 8px #1b2d36;
      transition:
        border,
        box-shadow 0.2s ease-out;
      &:hover {
        box-shadow: 0px 0px 18px 8px #2d4b5a;
        border: 1px solid #6c48b9;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    section {
      background: #e4ecf1;

      :is(h2, p) {
        color: var(--primary-color);
      }
    }
  }
</style>
