---
import { t } from "i18next";
---

<section class="contact" id="contact">
  <div class="radial-gradient"></div>
  <div class="text-content">
    <h2 class="title">{t("contact.title")}</h2>
    <p class="comment">{t("contact.comment")}</p>
  </div>
  <div class="copy-wrapper">
    <a href="mailto:eliaspereyra_gomez@hotmail.com" class="copy-btn"
      >{t("contact.button")}</a
    >
  </div>
</section>

<script>
  // @ts-nocheck
  // import Toastify from "toastify-js";
  // import "toastify-js/src/toastify.css";

  // const copyBtn = document.querySelector("#contact__copy-btn");

  // copyBtn?.addEventListener("click", () => {
  //   navigator.clipboard.writeText("eliaspereyra_gomez@hotmail.com");
  //   Toastify({
  //     text: "Email copied to the clipboard",
  //     className: "info",
  //     style: {
  //       background: "linear-gradient(to right, #0e0f1b, #0C0E22)",
  //       color: "white",
  //     },
  //   }).showToast();
  // });
</script>

<style>
  .contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 14em 10em;
    text-align: center;
    z-index: 5;
    container-type: inline-size;
    background: linear-gradient(250deg, #060912 10%, #0c0f16 320%);

    &::before {
      content: "";
      position: absolute;
      inset: auto;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.34;
      background-image: url("/assets/grid.svg");
      filter: saturate(30%) invert(0.78) drop-shadow(0 0 1.75rem #2d97d4fa)
        hue-rotate(160deg);
      mask-image: radial-gradient(ellipse at center, #070a12, #070a120d 30%);
    }

    .radial-gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(
          rgb(255 255 255 / 5%) 1px,
          #00000000 1px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, #00000000 1px);
      background-size: 20px 20px;
      mask-image: radial-gradient(
          ellipse at center,
          #070a120d 40%,
          #070a12 310%
        ),
        radial-gradient(ellipse at bottom, #070a12, #070a120d 10%);
      z-index: 1;
    }

    .text-content {
      display: flex;
      flex-direction: column;

      .title {
        max-width: 23ch;
        color: var(--white-c-900);
      }

      .comment {
        line-height: 1.8rem;
        margin: 1rem auto;
        width: max(5ch, 12ch);
        color: var(--white-c-800);
        @media (max-width: 600px) {
          width: 20ch;
        }
      }
    }

    .copy-wrapper {
      font-size: 1rem;
      padding: 1em 2em;
      border: 1px solid #375085;
      border-radius: 0.5rem;
      z-index: 2;
      color: var(--white-color);
      background: linear-gradient(to right, #0b0e16, #0e1527, #090e1a);
      box-shadow: 0px 0px 38px 12px #1b2436;
      transition:
        border,
        box-shadow 0.2s ease-out;
      &:hover {
        box-shadow: 0px 0px 28px 0px #2d395a;
        border: 1px solid #486cb9;
      }
      .copy-btn {
        color: var(--white-c-800);
        user-select: none;
      }
    }
  }

  @media screen and (max-width: 1400px) {
    .contact {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 600px) {
    .contact {
      padding: 12em 2rem;

      .text-content {
        .message {
          width: 100%;
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .contact {
      background: #e4ecf1;

      .text-content {
        .title {
          color: var(--primary-color);
        }

        .comment {
          color: var(--primary-color);
        }
      }

      .copy-wrapper {
        background: #cedaf0;
        border: 1px solid #92add6;
        box-shadow: 0px 0px 18px 8px #b0d8ec;

        &:hover {
          box-shadow: 0px 0px 18px 8px #7fb9f0;
          border: 1px solid #487db9;
        }

        .copy-btn {
          color: var(--black-c-800);
        }
      }
    }
  }
</style>
