---
import { t } from "i18next";

import LogoWhite from "../atoms/LogoWhite.astro";
import AstroIcon from "../atoms/AstroIcon.astro";
import LinkedinIcon from "../atoms/LinkedinIcon.astro";
import GithubIcon from "../atoms/GithubIcon.astro";
import XIcon from "../atoms/XIcon.astro";

import { socialNetworks } from "@/utils/PageConfig";
---

<footer class="footer" id="footer">
  <div class="content">
    <div class="social-wrapper">
      <a id="sw__my-logo" href="/"> <LogoWhite width="143" height="143" /></a>
      <div class="social-links">
        <GithubIcon
          type="icon"
          link={socialNetworks.githubProfile}
          width="27"
          height="27"
        />
        <LinkedinIcon
          width="27"
          height="27"
          href={socialNetworks.linkedinProfile}
        />
      </div>
    </div>
    <div class="tool-used">
      <small>{t("footer.tool-used")}</small>
      <a href="https://astro.build" target="_blank"><AstroIcon /></a>
    </div>
  </div>
</footer>

<style>
  .footer {
    border-top: 0.2px solid hsl(225 33% 15% / 1);
    background: hsl(225 33% 6% / 1);
    padding: 4em 10em;
    container-type: inline-size;
    position: relative;
    z-index: 5;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .social-wrapper {
        display: flex;
        flex-direction: column;

        .social-links {
          margin-top: -0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }
      }

      .tool-used {
        display: flex;
        align-items: center;
        line-height: 9px;

        small {
          top: 0;
          left: 0;
          font-size: 0.73rem;
          color: var(--white-c-800);
        }
        a {
          margin-top: 0;
        }
      }
    }
  }

  /* When screen size changes */
  @media screen and (max-width: 500px) {
    .footer {
      padding: 4em 2em;
    }
  }

  @media (max-width: 590px) {
    .content {
      flex-direction: column;
      .tool-used {
        margin-top: 2em;
        flex-direction: column;
      }
    }
  }

  /* When theme changes */
  @media (prefers-color-scheme: light) {
    .footer {
      border-top: 0.2px solid hsl(227, 70%, 87%);
      background: linear-gradient(
        9deg,
        #cad6e2 6.27%,
        #f5f5f5 52.57%,
        #f5f5f5 88.98%
      );

      .content {
        .tool-used {
          small {
            color: var(--primary-color);
          }
        }
      }
    }
  }
</style>
