---
import { t } from "i18next";
import LogoWhite from "../atoms/LogoWhite.astro";
import AstroIcon from "../atoms/AstroIcon.astro";
import LinkedinIcon from "../atoms/LinkedinIcon.astro";
import GithubIcon from "../atoms/GithubIcon.astro";
import XIcon from "../atoms/XIcon.astro";
---

<footer id="footer">
  <div class="footer__content">
    <div class="fc__social-wrapper">
      <a id="sw__my-logo" href="/"> <LogoWhite width="143" height="143" /></a>
      <div class="sw__social-links">
        <GithubIcon width="27" height="27" />
        <LinkedinIcon
          width="27"
          height="27"
          href="https://linkedin.com/in/elias-pereyra-gomez"
        />
        <XIcon
          account="https://twitter.com/EliasPereyraGo1"
          width="27"
          height="27"
        />
      </div>
    </div>
    <div id="fc__tool-used">
      <small>{t("footer.tool-used")}</small>
      <a href="https://astro.build" target="_blank"><AstroIcon /></a>
    </div>
  </div>
</footer>

<style>
  #footer {
    border-top: 0.2px solid hsl(225 33% 15% / 1);
    background: hsl(225 33% 6% / 1);
    padding: 4em 10em;
    container-type: inline-size;
    position: relative;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/assets/grid.svg");
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.34;
      filter: invert(0.85);
      mask-image: linear-gradient(180deg, transparent 49%, black);
    }

    .footer__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fc__social-wrapper {
        display: flex;
        flex-direction: column;

        .sw__social-links {
          margin-top: -0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }
      }

      #fc__tool-used {
        display: flex;
        align-items: center;
        line-height: 9px;

        small {
          top: 0;
          left: 0;
          font-size: 0.73rem;
          color: var(--white-c-800);
        }
        a {
          margin-top: 0;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    #footer {
      padding: 4em 2em;
    }
  }

  @container (max-width: 590px) {
    .footer__content {
      flex-direction: column;

      #footer__tool-used {
        flex-direction: column;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    #footer {
      border-top: 0.2px solid hsl(227, 70%, 87%);

      background: linear-gradient(
        9deg,
        #cad6e2 6.27%,
        #f5f5f5 52.57%,
        #f5f5f5 88.98%
      );

      .footer__content {
        #fc__tool-used {
          small {
            color: var(--black-c-700);
          }
        }
      }
    }
  }
</style>
