---
import LogoWhite from "../atoms/LogoWhite.astro";
import GithubIcon from "../atoms/GithubIcon.astro";
import LinkedinIcon from "../atoms/LinkedinIcon.astro";
import AstroLightIcon from "../atoms/AstroLightIcon.astro";

---

<footer>
   <ul id="first-row">
       <li><a href="#">Home</a></li>
       <li><a href="#portfolio">Projects</a></li>
       <li><a href="#about">About me</a></li>
       <li><a href="#contact">Contact</a></li>
  </ul>
  <div id="second-row">
    <a href="/"><LogoWhite /></a>
    <GithubIcon color="#eee" />
    <LinkedinIcon color="#eee" />
  </div>
  <div id="third-row">
    <small><b>built with </b></small>
    <AstroLightIcon />
  </div>
</footer>

<style>
  a {
    text-decoration: none;
    color: #fff;
  }

  footer {
    background-color: hsl(228, 52%, 13%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul {
    list-style: none;
    display: flex;
    gap: .7em;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  #second-row {
    display: flex;
    gap: .7em;
    justify-content: center;
    align-items: center;
    margin: 0.3em 0;
  }

  #third-row {
    text-align: center;
    color: #fff;
    margin-top: .7em;
    margin-left: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
