---
import { t } from "i18next";
import LogoWhite from "../atoms/LogoWhite.astro";
import AstroIcon from "../atoms/AstroIcon.astro";
---

<footer>
  <a href="/"> <LogoWhite width="143" height="143" /></a>
  <div id="tool-used">
    <small>{t("footer.tool-used")}</small>
    <a href="https://astro.build" target="_blank"><AstroIcon /></a>
  </div>
</footer>

<style>
  footer {
    background: linear-gradient(
      256deg,
      #080808 33.47%,
      #0b0b0b 51.39%,
      #0c0b0b 67.53%
    );
    padding: 4em 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #tool-used {
      display: flex;
      align-items: center;
      gap: 1rem;

      small {
        color: var(--white-color);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    footer {
      background: linear-gradient(
        9deg,
        #cadae2 6.27%,
        #f5f5f5 52.57%,
        #f5f5f5 88.98%
      );

      #tool-used {
        small {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
