---
import {t} from "i18next"
import GithubIcon from '../atoms/GithubIcon.astro';
import LinkedinIcon from '../atoms/LinkedinIcon.astro';

import '../../styles/global.css'
---

<section>
  <div id="content">
		<div id="hero-content">
			<h1>
				<span id="designer">Designer</span><span id="upper-line"> &</span><br /><span id="developer">Developer</span>
			</h1>
			<h3>
				{t("hero.subheader")}
			</h3>
			<div id="btns-wrapper">
				<a id="btn-portfolio" href="#portfolio"><b>{t("hero.button")}</b></a>
				<ul>
					<li>
						<GithubIcon color="#142664" />
					</li>
					<li>
						<LinkedinIcon color="#142664" />
					</li>
				</ul>
			</div>
		</div>
	
		<div id="laptop-img">
			<img src="assets/laptop-ecommerce.webp" alt="A laptop showing an ecommerce page" />
		</div>
	</div>
</section>

<style>
	section {
		height: 100vh;
		background-image: url("/assets/Rectangle.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-y: -3em;
		background-color: white;
		padding-top: 4.5em;
	}

	@media(max-width: 360px) {
		section {
			background-image: none;
		}
	} 
	
	#content {
		display: flex;
		padding: 5.7em 0;
	}@media (max-width: 360px) {
		#content {
			display: block;
		}
	}

	#hero-content{
		padding: 0 4em;
		display: flex;
		flex-direction: column;
		
	} @media (max-width: 768px) {
		#hero-content {
			align-items: center;
			text-align: center;
		}
	}@media (max-width: 360px) {
		#hero-content {
			padding: 0 2em;
		}
	}
	
	#laptop-img {
		margin-left: 4.5em;
	} @media (max-width: 768px) {
		#laptop-img {
			display: none;
		}
	}
	
	img {
		width: 21em;
	}

  h1 {
		font-size: 3.2rem;
		margin: 0;
		position: relative;
	}#designer {
		color: var(--orange);
	}
	#developer {
		color: var(--dark-green);
	}

	@media(max-width: 360px) {
		h1 {
			font-size: 2.2rem;
		}
	}

	h3 {
		color: var(--light-dark);
		width: 45ch;
		font-weight: 300;
		font-size: 1.1rem;
		margin-top: .4em;
		margin-bottom: 1em;
	}

	@media(max-width: 360px) {
		h3 {
			font-size: .9rem;
			width: 35ch;
		}
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	ul { 
		margin: 0; display: flex; align-items: center; padding: 0; 
		gap: .5em;
		transform: translateY(3px);
	}
  li {
		list-style: none;
		transition: opacity .15s ease-in-out, scale .15s ease-in-out;
	}li:hover {
		scale: 1.2;
  }

	#btns-wrapper {
		display: flex;
		gap: .7em;
		align-items: center;
	}#btns-wrapper a {
    text-decoration: none;
		border-radius: 5px;
    padding: .6em;
		text-align: center;
		width: 9em;
		transition: background-color .15s ease-in-out, color .15s ease-in, outline .15s ease-in-out;
  }

	#btn-portfolio {
		background-color: var(--dark-blue);
		color: white;
		padding: 1em;
	}#btn-portfolio:hover {
		background-color: transparent;
		color: var(--dark-blue);
		outline: 1px solid var(--dark-blue);
	}@media( max-width: 360px) {
		#btn-portfolio {
			padding: 8em;
		}
	}
</style>
