---
import { t } from "i18next";

import GithubIcon from "../atoms/GithubIcon.astro";
import LinkedinIcon from "../atoms/LinkedinIcon.astro";
import PinkAurora from "../atoms/PinkAurora.astro";
import LightBlueAurora from "../atoms/LightBlueAurora.astro";
---

<section>
  <PinkAurora />
  <div id="hero__text-content">
    <div id="avail-text">
      <span></span>
      <p id="over-title">{t("hero.available")}</p>
    </div>
    <h1>{t("hero.headline")}</h1>
    <p id="hero-description">
      {t("hero.description")}
    </p>
    <div id="social-networks">
      <GithubIcon width="28" height="28" />
      <LinkedinIcon />
    </div>
  </div>
</section>

<style>
  section {
    background: linear-gradient(169deg, #223843 -100.26%, #010613 124.3%);
    padding: 8em 0;
    z-index: 5;

    #hero__text-content {
      padding-top: 7em;
      padding-bottom: 10em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;
      margin: auto;
      width: 80ch;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 0.1s;
      @media (min-width: 320px) and (max-width: 540px) {
        #hero-text-content {
          width: 30ch;
        }
      }

      #avail-text {
        padding: 0.5rem;
        color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid rgba(255, 125, 169, 0.85);
        background: rgba(255, 125, 169, 0.08);
        border-radius: 1rem;
        margin-bottom: 1rem;
        width: 35%;
        span {
          padding: 0.5rem;
          background-color: rgba(255, 125, 169, 0.85);
          border-radius: 50%;
          filter: drop-shadow(0px 0px 17px rgba(255, 40, 113, 0.7));
        }
        #over-title {
          font-size: 14px;
        }
      }

      h1 {
        margin: 0;
        color: var(--white-color);
        text-align: center;
      }

      @media (min-width: 320px) and (max-width: 425px) {
        h1 {
          font-size: 2.7rem;
        }
      }

      #hero-description {
        width: 50ch;
        text-align: center;
        color: var(--white-gray-color);
        font-weight: 300;
        font-size: 1.2rem;
      }
    }

    #social-networks {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @media (prefers-color-scheme: light) {
    section {
      background: linear-gradient(169deg, #f9f8f8 -169.26%, #dbe5fc 144.3%);

      #hero__text-content {
        h1 {
          color: var(--primary-color);
        }

        #avail-text {
          color: var(--primary-color);
        }

        #hero-description {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
