---
import { t } from "i18next";

import GithubIcon from "../atoms/GithubIcon.astro";
import LinkedinIcon from "../atoms/LinkedinIcon.astro";
import PinkAurora from "../atoms/PinkAurora.astro";
import LightBlueAurora from "../atoms/LightBlueAurora.astro";
---

<section id="hero">
  <div id="overlay"></div>
  <div id="radial-gradient__effect"></div>
  <!-- <PinkAurora /> -->
  <div id="h__text-content">
    <div id="tc__avail-text">
      <div id="effect-wrapper">
        <span id="effect"></span>
        <span></span>
      </div>
      <p id="tc__over-title">{t("hero.available")}</p>
    </div>
    <h1 id="tc__headline-title" class="dark">{t("hero.headline")}</h1>
    <p id="tc__description-text">
      {t("hero.description")}
    </p>
    <div id="tc__social-networks">
      <GithubIcon width="35" height="35" />
      <LinkedinIcon href="https://www.linkedin.com/in/elias-pereyra-gomez/" />
    </div>
  </div>
</section>

<style>
  @keyframes ping {
    75%,
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  section {
    background: var(--hero__dark-bg);
    padding: 8em 2em;
    z-index: 5;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/assets/grid.svg");
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      filter: invert(0.85);
      mask-image: radial-gradient(ellipse at center, transparent 10%, black);
    }

    #overlay {
      width: 100%;
      height: 100%;
      z-index: 19;
      background-color: rgb(2 6 23 / 0.5);
    }

    #radial-gradient__effect {
      background-image: radial-gradient(
          at 27% 37%,
          hsla(215, 98%, 61%, 1) 0px,
          transparent 0%
        ),
        radial-gradient(at 97% 21%, rgb(209 128 235) 0px, transparent 50%),
        radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 96%, rgb(233 139 123) 0px, transparent 50%),
        radial-gradient(
          at 33% 50%,
          hsl(222deg 88.45% 67.18%) 0px,
          transparent 50%
        ),
        radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
      position: absolute;
      width: 60em;
      z-index: -1;
      height: 90%;
      filter: blur(140px) saturate(250%);
      opacity: 0.1;
      top: 0;
      right: 10em;
    }

    #h__text-content {
      padding-top: 7em;
      padding-bottom: 10em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;
      margin: auto;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 0.1s;

      #tc__avail-text {
        container-type: inline-size;
        padding: 0.5rem;
        color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        border: 1px solid rgba(255, 125, 169, 0.55);
        background: rgba(255, 125, 169, 0.08);
        border-radius: 1rem;
        margin-bottom: 1rem;
        width: 20em;

        #effect-wrapper {
          position: relative;

          #effect {
            inset: 0;
            margin: auto;
            position: absolute;
            animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
            background-color: rgba(255, 125, 169, 0.85);
            border-radius: 50%;
          }

          span {
            inset: 0;
            margin: auto;
            position: absolute;
            padding: 0.5rem;
            background-color: rgba(255, 125, 169, 0.85);
            border-radius: 50%;
            filter: drop-shadow(0px 0px 17px rgba(255, 40, 113, 0.7));
          }
        }

        #tc__over-title {
          font-family: "Arial", sans-serif;
          font-size: 0.8rem;
        }
      }

      #tc__headline-title {
        margin: 0;
        color: var(--white-color);
        text-align: center;
      }

      #tc__description-text {
        max-width: 30em;
        text-align: center;
        color: var(--white-c-800);
        font-weight: 400;
        font-size: clamp(1.3rem, 1.05rem + 0.21vw, 1.6rem);
      }
    }

    #tc__social-networks {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 500px) {
    section {
      #hero__text-content {
        #hero__avail-text {
          width: 10em;
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    section {
      background: var(--hero__light-bg);

      #h__text-content {
        #tc__headline-title {
          color: var(--primary-color);
        }

        #tc__avail-text {
          color: var(--primary-color);
        }

        #tc__description-text {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
