---
import { t } from "i18next";

import GithubIcon from "../atoms/GithubIcon.astro";
import LinkedinIcon from "../atoms/LinkedinIcon.astro";
import EmailIcon from "../atoms/EmailIcon.astro";
import CVIcon from "../atoms/CVIcon.astro";
---

<section class="hero" id="hero">
  <div id="overlay"></div>
  <div id="radial-gradient__effect"></div>
  <div class="text-content">
    <h1 class="headline-title" class="dark">{t("hero.headline")}</h1>
    <p class="description-text first-col">
      <strong>{t("hero.first-col")}</strong>
    </p>
    <p class="description-text second-col">
      {t("hero.second-col.with")}
      <span style="color: var(--blue-color)"
        >{t("hero.second-col.specialization")}</span
      >
      {t("hero.second-col.in")}<strong style="color: var(--blue-color)"
        >Front-end</strong
      >
      {t("hero.second-col.and")}
      <span style="color: var(--blue-color)">Back-end</span>
    </p>
    <div class="social-networks">
      <GithubIcon
        type="icon"
        link="https://github.com/EliasPereyra"
        width="35"
        height="35"
      />
      <LinkedinIcon href="https://www.linkedin.com/in/elias-pereyra-gomez/" />
      <EmailIcon />
      <CVIcon />
    </div>
  </div>
</section>

<style>
  :root {
    --hero__dark-bg: linear-gradient(-200deg, #232243 -79%, #010613 90%);
    --radial-gradient__dark: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, hsl(219, 73%, 71%) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsl(226.47deg 98% 61%) 0px, transparent 50%),
      radial-gradient(at 10% 29%, rgb(90, 160, 252) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsl(107, 71%, 70%) 0px, transparent 50%),
      radial-gradient(
        at 33% 50%,
        hsl(222deg 88.45% 67.18%) 0px,
        transparent 50%
      ),
      radial-gradient(at 79% 53%, hsl(234.78deg 68% 79%) 0px, transparent 50%);
    --radial-gradient__light: radial-gradient(
        at 27% 37%,
        hsl(215deg 88.4% 87.7%) 0px,
        transparent 0%
      ),
      radial-gradient(
        at 97% 21%,
        hsl(219deg 95.07% 84.03%) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 52% 99%,
        hsl(226.47deg 83.37% 90.53%) 0px,
        transparent 50%
      ),
      radial-gradient(at 10% 29%, rgb(197 220 249) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsl(107, 71%, 70%) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsl(222deg 72% 83.66%) 0px, transparent 50%),
      radial-gradient(
        at 79% 53%,
        hsl(234.78deg 50.02% 82.96%) 0px,
        transparent 50%
      );
  }

  .hero {
    position: relative;
    z-index: 1000;
    padding: 6em 2em;
    background: var(--hero__dark-bg);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/assets/grid.svg");
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      filter: invert(0.85);
      mask-image: radial-gradient(ellipse at center, transparent 20%, black);
    }
    @media (prefers-color-scheme: light) {
      background: var(--hero__light-bg);
      &::before {
        filter: invert(0.4);
      }
    }

    #overlay {
      width: 100%;
      height: 100%;
      z-index: 19;
      background-color: rgb(2 6 23 / 0.5);
    }

    #radial-gradient__effect {
      position: absolute;
      top: 0;
      right: 10em;
      z-index: -1;
      width: 70em;
      height: 80%;
      border-radius: 100vw;
      filter: blur(120px) saturate(250%) hue-rotate(10deg);
      opacity: 0.25;
      background-image: var(--radial-gradient__dark);
      @media (prefers-color-scheme: light) {
        background-image: var(--radial-gradient__light);
      }
    }

    .text-content {
      margin: auto;
      padding-top: 4em;
      padding-bottom: 10em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.1rem;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 0.1s;

      .headline-title {
        margin: 0;
        text-align: center;
        color: var(--white-color);
        @media (prefers-color-scheme: light) {
          color: var(--primary-color);
        }
      }

      .description-text {
        width: 35ch;
        text-align: center;
        font-size: clamp(1.3rem, 1.05rem + 0.21vw, 1.6rem);
        color: var(--white-c-800);
        @media (prefers-color-scheme: light) {
          color: var(--primary-color);
        }
      }

      .first-col {
        font-size: 1.74rem;
        color: var(--secondary-lighter__color);
      }

      .second-col {
        font-size: 1.15rem;
        max-width: 40ch;
      }
    }

    .social-networks {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  @keyframes ping {
    75%,
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 500px) {
    section {
      .text-content {
        .avail-text {
          width: 10em;
        }
      }
    }
  }
</style>
