---
import { t } from "i18next";

import GithubIcon from "../atoms/GithubIcon.astro";
import LinkedinIcon from "../atoms/LinkedinIcon.astro";

---
<section>
  <div id="noise"></div>
  <div id="hero-text-content">
    <div id="underlay"></div>
    <h1>
      {t("hero.headline.first-part")}<br />
      <span id="name"> {t("hero.headline.final-part")}</span>
    </h1>
    <p>
      {t("hero.description")}
    </p>
    <div id="social-networks">
      <GithubIcon color="#ddd"/>
      <LinkedinIcon color="#ddd" />
    </div>
  </div>
</section>

<style>
  section {
    background: var(--dark-bckg);
		padding: 5em 0;
    position: relative;
    isolation: isolate;
    z-index: 10;
	}

  button { border: none; padding: 1em 4em; border-radius: 5px; }

  #hero-text-content {
    padding-top: 5em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80ch;
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 0.1s;
  }

  #social-networks {
    display: flex;
    gap: 10px;
  }

  @media (min-width: 320px) and (max-width: 540px) {
    #hero-text-content {
      width: 30ch;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  #hero-text-content::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: -10%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: 
      url(/assets/grunge-dusty-texture-background.webp) no-repeat,
      linear-gradient(201deg,#000 0%,#201034 2%,#643696 17%,rgb(6,12,34) 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgb(0 0 0 / 94%),transparent 90%);
  }

  #noise {
    position: absolute;
    background-image: url("/assets/noise.webp");
    z-index: -20; 
    mix-blend-mode: overlay;
    inset: 0;
    opacity: .1;
  }

  #underlay {
    position: absolute;
    z-index: -30;
    inset: 0;
  }

  h1 {
    width: 12ch;
    margin: 0;
    font-size: 3.4rem;
    color: var(--white);
    text-align: center;
  }

  @media (min-width: 320px) and (max-width: 425px) {
    h1 {
      font-size: 2.7rem;
    }
  }

  #name {
    color: var(--light-purple);
    text-decoration: underline;
    text-decoration-thickness: 4px;
  }  

  p {
    width: 40ch;
    text-align: center;
    color: var(--white);
    font-weight: 400;
    font-size: 1.1rem;
  }

  @media (max-width: 425px) {
    p {
      font-size: var(--font-size-lg);
      width: 25ch;
    }
  }

  @media (max-width: 320px) {
    p {
      font-size: 1rem;
      width: 23ch;
    }
  }
</style>
