---
import GithubIcon from '../atoms/GithubIcon.astro';
import LinkedinIcon from '../atoms/LinkedinIcon.astro';

import '../../styles/global.css'
---

<section>
  <div id="content">
		<div id="hero-content">
			<h1>
				<span id="designer">Designer</span><span id="upper-line"> &</span><br /><span id="developer">Developer</span>
			</h1>
			<h3>
				Curious fullstack developer who likes to experiment and make designs, code and host it on the web
			</h3>
			<div id="btns-wrapper">
				<a id="btn-filled" href="#portfolio"><b>See my works</b></a>
				<ul>
					<li>
						<GithubIcon color="#142664" />
					</li>
					<li>
						<LinkedinIcon color="#142664" />
					</li>
				</ul>
			</div>
		</div>
	
		<div id="laptop-img">
			<img src="assets/laptop-ecommerce.webp" alt="A laptop showing an ecommerce page" />
		</div>
	</div>
</section>

<style>
	section {
		background-image: url("/assets/Rectangle.svg");
		background-size: 100%;
		background-position-y: -2em;
		background-color: white;
		padding-top: 4.5em;
	}
	
	#content {
		display: flex;
		padding: 5.7em 0;
	}

	#hero-content{
		padding: 0 4em;
		display: flex;
		flex-direction: column;
		
	}@media (max-width: 768px) {
		#hero-content {
			align-items: center;
			text-align: center;
		}
	}
	
	#laptop-img {
		margin-left: 4.5em;
	}@media (max-width: 768px) {
		#laptop-img {
			display: none;
		}
	}
	
	img {
		width: 21em;
	}

  h1 {
		font-size: 3.2rem;
		margin: 0;
		position: relative;
	}#designer {
		color: var(--orange);
	}
	#developer {
		color: var(--dark-green);
	}

	h3 {
		color: var(--light-dark);
		width: 45ch;
		font-weight: 300;
		font-size: 1.1rem;
		margin-top: .4em;
		margin-bottom: 1em;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	ul { 
		margin: 0; display: flex; align-items: center; padding: 0; 
		gap: .5em;
		transform: translateY(3px);
	}
  li {
		list-style: none;
	}

	#btns-wrapper {
		display: flex;
		gap: .7em;
		align-items: center;
	}#btns-wrapper a {
    text-decoration: none;
		border-radius: 5px;
    padding: .6em;
		text-align: center;
		width: 9em;
		transition: opacity .3s ease-in-out;
  }
	#btn-filled {
		background-color: var(--dark-blue);
		color: white;
		padding: 1em;
	}#btn-filled:hover {
		opacity: .9;
	}
</style>
