---
import { t } from "i18next";
import Languages from "../atoms/Languages.astro";
import LogoWhite from "../atoms/LogoWhite.astro";

---

<nav>
  <a href="/"><LogoWhite /></a>
  <ul id="navbar-items">
    <li><a href="/#">{t("navbar.home")}</a></li>
		<li><a href="/#about">{t("navbar.about")}</a></li>
		<li><a href="/#portfolio">{t("navbar.projects")}</a></li>
		<li><a href="/#contact">{t("navbar.contact")}</a></li>
  </ul>
  <Languages />
</nav>

<style>
  nav {
    width: 100%;
    position: absolute;
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 20;
  }

  @media (max-width: 375px) {
    nav {
    padding: 1em 2em;
    }
  }

  a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    text-underline-offset: 10px;
    transition: text-underline-offset .2s ease-in-out;
  }a:hover {
    text-decoration: underline var(--white);
    text-decoration-thickness: 2px;
  }

  ul { margin: 0; }
  li {
		list-style: none;
    font-size: .75rem;
	}

  #navbar-items {
    display: flex;
    align-items: center;
    gap: 1.9em;
  }

  @media (max-width: 540px) {
    #navbar-items {
      display: none;
    }
  }
</style>
