---
import { t } from "i18next";

import Languages from "../atoms/Languages.astro";
import LogoWhite from "../atoms/LogoWhite.astro";
import ToggleTheme from "../atoms/ToggleTheme.astro";
import LogoDark from "../atoms/LogoDark.astro";
import TagsIcon from "../atoms/TagsIcon.astro";

---

<nav id="navbar" transition:animate="fade">
  <a href="/">
    <LogoWhite width="73" height="73" />
    <!-- <LogoDark />  -->
  </a>
  <ul id="navbar-items">
    <li><a href="/#">{t("navbar.home")}</a></li>
    <li><a href="/#about">{t("navbar.about")}</a></li>
    <li><a href="/#portfolio">{t("navbar.projects")}</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/#contact">{t("navbar.contact")}</a></li>
  </ul>
  <div class="icons">
    <TagsIcon />
    |
    <!-- <ToggleTheme /> -->
    <Languages />
  </div>
</nav>

<style>
  #navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 1.2em 10em;
    width: 100%;
    z-index: 100;
    @media (max-width: 375px) {
      nav {
        padding: 1em 2em;
      }
    }

    a {
      text-decoration: none;
      color: var(--white-color);
      font-weight: 500;
    }

    @media (prefers-color-scheme: light) {
      a {
        color: var(--primary-color);
      }
    }

    ul {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 1.9em;

      li {
        list-style: none;
        font-size: 0.8rem;
        transition: color .15s ease-in-out, text-decoration: .15s ease-in-out;

        :hover {
          text-decoration: underline;
          text-underline-offset: 10px;
          color: var(--secondary-lighter__color);
        }
      }
    }

    .icons {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  @media screen and (max-width: 900px) {
    #navbar {
      padding: 1.2em 2em;
 
      ul {
        display: none;

      }
    }
  }
</style>
