---
import Languages from "../atoms/Languages.astro";
import LogoPurple from "../atoms/LogoPurple.astro";
---

<nav> 
	<div>
		<a href="/"><LogoPurple /></a>
	</div>
	<ul id="navbar-items">
    <li><a href="#">Home</a></li>
		<li><a href="#about">About me</a></li>
		<li><a href="#portfolio">My Projects</a></li>
		<li><a href="#contact">Contact</a></li>
    <li><Languages /></li>
	</ul>
  
</nav>

<style>
  nav {
    width: calc(100% - 8em);
    position: absolute;
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
  }

  @media (max-width: 360px) {
    nav {
      padding: 1em 2em;
    }

    #navbar-items {
      display: none!important;
    }
  }

  a {
    text-decoration: none;
    color: var(--light-dark);
    font-weight: 500;
    text-underline-offset: 10px;
    transition: text-underline-offset .2s ease-in-out;
  }a:hover {
    color: #242424;
    text-decoration: underline var(--light-dark);
    text-decoration-thickness: 2px;
  }

  ul { margin: 0; }
  li {
		list-style: none;
    font-size: .85rem;
	}

  #navbar-items {
    display: flex;
    align-items: center;
    gap: 1.9em;
  }
</style>
