---
import {t} from "i18next"

import { projects } from "../../utils/Projects";
import Card from "../widgets/Card.astro";

---
<main id="portfolio">
  <div id="noise"></div>
  <div id="content">
    <div id="underlay"></div>
    <h2>{t("portfolio.title")}</h2>
    <p>{t("portfolio.description")}</p>
    <ul class="animate">
      {projects.map(({title, desc, tags }) => (
        <Card 
          title={title} 
          desc={t("projects.expense_tracker.desc")} 
          tags={tags} 
        />
      ))}  
    </ul>
    <a
      href="https://github.com/EliasPereyra"
      target="_blank"
      rel="noreferrer">
      <strong>{t("portfolio.button")}</strong>
    </a>
  </div>
</main>

<style>
  main {
    padding: 6em 3em;
    background: var(--dark-bckg);
    background-size: 100%;
    position: relative;
    isolation: isolate;
    z-index: 10;
  }

  #noise {
    position: absolute;
    background-image: url("/assets/noise.webp");
    z-index: -20; 
    mix-blend-mode: overlay;
    inset: 0;
    opacity: .1;
  }

  #content::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: url(/assets/noise.webp) repeat,linear-gradient(174deg,#000 0%,#1d0a2b 20%,#412f64 40%,#060C22 78.22%,#060C22 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgb(0 0 0 / 84%),transparent 90%);
  }

  #underlay {
    position: absolute;
    z-index: -30;
    inset: 0;
  }

  h2 {
    padding-top: 6em;
    text-align: left;
    text-shadow: 1px 1px 10px rgb(255 255 255 / 20%);
    margin: 0em 0 .5em 1.7em;
    color: white;
    transition: all 1s;
    font-size: 2.3rem;
  }h2::before {
    content: "";
    width: 10em;
    height: 4px;
    background: linear-gradient(to right, hsl(263, 53%, 51%), hsl(263, 53%, 51%));
    border-radius: 1px;
    display: block;
    margin-bottom: 6px;
  }

  @media (max-width: 768px) {
    h2 {
      text-align: center;
      font-size: 2rem;
      margin: 0 auto .5em auto;
    }h2::before {
      content: "";
      margin: 0 auto 6px auto;
    }
  }

  @media (max-width: 425px) {
    h2::before {
      content: "";
      width: 100%;
    }
  }

  @media (max-width: 375px) {
    h2 {
      content: "";
      font-size: 1.7rem;
    }
  }

  p {
    font-size: 1.1rem;
    color: var(--white);
    font-weight: 300;
    margin-top: 0;
    margin-left: 3.5em;
    width: 60ch;
  }

  @media (max-width: 768px) {
    p {
      width: 40ch;
      text-align: center;
      margin: auto;
    }
  }

  @media (max-width: 425px) {
    p {
      width: 35ch;
    }
  }

  @media (max-width: 375px) {
    p {
      width: 30ch;
    }
  }

  @media (max-width: 320px) {
    p {
      width: 25ch;
    }
  }

  ul {
    color: hsl(233, 53%, 27%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0;
  }
  @media (max-width: 768px) {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  a {
    display: block;
    margin: 4em auto;
    padding: 1em 3em;
    border-radius: 5px;
    width: 12em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--white);
    background-color: none;
    border: 1px solid var(--light-purple);
    font-weight: bold;
    transition: 
      border .3s ease-in-out, 
      color .3s ease-in-out,
      letter-spacing .3s ease-in-out;
  }
  a:hover {
    background: transparent;
    border: solid .8px var(--orange);
    color: var(--orange);
    letter-spacing: 1px;
  }
</style>
