<a id="btn-empty" href="/resume.pdf" target="_blank">Download <b>CV</b></a>

<style>
  a {
    text-decoration: none;
		border-radius: 5px;
    font-size: 1rem;
    padding: .7em;
		text-align: center;
		width: 11em;
		transition: opacity .3s ease-in-out;
		border: 2px solid var(--dark-blue);
  }
  #btn-empty {
		background-color: transparent;
		color: var(--dark-blue);
		transiton-property: border color;
		transition-duration: 0.4s;
		transition-timing-function: ease-in-out;
		-webkit-transition-property: border, color;
  	-webkit-transition-duration: 0.4s;
  	-o-transition-property: border, color;
  	-o-transition-duration: 0.4s;
	}#btn-empty:hover {
		border: 2px solid var(--orange);
		color: var(--orange);	
	}
</style>