<nav> 
	<div>
		<a href="/"><img src="assets/icon.svg" alt="My Logo" /></a>
	</div>
	<ul id="navbar-items">
		<li><a href="#">Home</a></li>
		<li><a href="#about">About me</a></li>
		<li><a href="#portfolio">My Projects</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
  
</nav>

<style>
  nav {
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
  }

  a {
    text-decoration: none;
    color: var(--light-dark);
    transition: opacity .3s ease-in-out, text-decoration .5s ease-in, transform .3s;
    
  }a:hover {
    background-size: 100%;
    opacity: .7;
    text-decoration: underline #142664;
    text-decoration-thickness: 3px;
  }

  ul { margin: 0; }
  li {
		list-style: none;
    font-size: .9rem;
	}

  #navbar-items {
    display: flex;
    align-items: center;
    gap: 1.9em;
  }
</style>
