<nav>
	<div>
		<img src="" alt="Mi logo" />
	</div>
	<ul id="navbar-items">
		<li><a href="#">Inicio</a></li>
		<li><a href="#about">Sobre mí</a></li>
		<li><a href="#portfolio">Mis Proyectos</a></li>
		<li><a href="#contact">Contacto</a></li>
		<li><a href="https://github.com/EliasPereyra" target="_blank" rel="">Github</a></li>
		<li><a href="https://linkedin.com">Linkedin</a></li>
	</ul>
</nav>

<style>
  nav {
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  li {
		list-style: none;
	}

  #navbar-items {
    display: flex;
    gap: 1em;
  }
</style>
