#contact {
  padding: 10em 6em;
  background: var(--dark-bckg);
  position: relative;
  isolation: isolate;
  z-index: 10;
}

@media (max-width: 425px) {
  #contact {
    padding: 10em 2em;
  }
}

#contact-container {
  display: flex;
  gap: 5em;
  justify-content: center;
  align-items: center;
  color: #eee;
}
#contact-container::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  background: url("/assets/noise.webp") repeat,
    linear-gradient(302deg, #332266 11%, #3e2e6d 58%, #3c347e 88%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.541), transparent 90%);
}

@media (max-width: 1024px) and (min-width: 320px) {
  #contact-container {
    gap: 2em;
    flex-direction: column;
  }
}

#contact-container p {
  width: 40ch;
}

#noise {
  position: absolute;
  background-image: url("/assets/noise.webp");
  z-index: -20;
  mix-blend-mode: overlay;
  inset: 0;
  opacity: 0.1;
}

#underlay {
  position: absolute;
  z-index: -30;
  inset: 0;
}

#contact-container__right-side {
  width: 80%;
}

#contact-container__right-side h2 {
  margin: 0;
  font-size: 2rem;
}

@media (min-width: 320px) and (max-width: 1024px) {
  #contact-container__right-side h2,
  p {
    text-align: center;
  }

  #contact-container__right-side p {
    margin: 10px auto 10px auto;
  }
}

@media (max-width: 425px) {
  #contact-container__right-side p {
    width: 30ch;
  }
}

@media (max-width: 375px) {
  #contact-container__right-side h2 {
    font-size: 1.7rem;
  }

  #contact-container__right-side p {
    width: 25ch;
  }
}

#contact-container__content {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 100%;
}
@media (max-width: 360px) {
  #contact-container__content {
    align-items: center;
  }
}

#contact-container__content p {
  font-size: 1.2rem;
  color: var(--light-dark);
}

@media (max-width: 768px) {
  #contact-container__content p {
    text-align: center;
  }
}

#contact-container__content #contact-btn {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  width: 7em;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  border-radius: 5px;
  padding: 0.7em 2em;
  transition: opacity 0.3s ease-in-out;
}
#contact-container__content #contact-btn:hover {
  opacity: 0.8;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

@media (max-width: 768px) {
  form {
    margin: auto;
    width: 25em;
  }
}

@media (max-width: 425px) {
  form {
    width: 15em;
  }
}

label {
  margin-bottom: 5px;
}

input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.6em;
  width: 90%;
  margin-bottom: 1.2em;
  font-family: "Fira Sans", sans-serif;
  transition: 0.01s all ease-in-out;
}
input:focus {
  outline: 1px solid #a17412;
  background-color: #fff0d1;
}
input:valid {
  background-color: #fff5e2;
}
input:invalid {
  outline: 1px solid #a11212;
}

@media (max-width: 768px) {
  input {
    width: 100%;
  }
}

textarea {
  font-family: "Fira Sans", sans-serif;
  padding: 0.6em;
  border: none;
  border-radius: 5px;
  width: 90%;
  transition: 0.01s all ease-in-out;
  background-color: #ffffff;
  resize: none;
}
textarea:focus {
  outline: 1px solid #a17412;
  background-color: #fff7e7;
}

@media (max-width: 768px) {
  textarea {
    width: 100%;
  }
}

button[type="submit"] {
  background: #ffefce;
  border: none;
  border-radius: 5px;
  padding: 0.6em;
  margin-top: 1em;
  width: 30%;
  font-size: 0.8rem;
  font-weight: bold;
  outline: 1px solid #a17412;
  transition: 0.2s all ease-in-out;
}
[type="submit"]:hover {
  background: #ffd88a;
  outline: 1px solid #cc992b;
}
