<a 
	id="cv-button" 
	href="/resume.pdf" 
	target="_blank"
>
	Download 
	<strong>CV</strong>
</a>

<style>
  a {
		display: block;
    text-decoration: none;
		border-radius: 5px;
		width: 13em;
		padding: .7em 3em;
		text-align: center;
		color: var(--dark-purple);
		transition: opacity .3s ease-in-out;
		border: 2px solid var(--light-purple);
  }
  #cv-button {
		background-color: transparent;
		transition: 
			border .2s ease-in-out, 
			color .2s ease-in-out, 
			letter-spacing .2s ease-in-out;
	}#cv-button:hover {
		border: 2px solid var(--orange);
		color: var(--orange);	
		letter-spacing: 1px;
	}

	@media (max-width: 768px) {
		a {
			margin: auto;
		}
	}
</style>
