<a
  href="/assets/cv.pdf"
  target="_blank"
  aria-label="Redirect to my CV"
  rel="noopener noreferrer"
>
  <!--?xml version="1.0" encoding="UTF-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg
    width="30"
    height="30"
    viewBox="-2.5 0 32 32"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>document</title>
    <desc>Created with Sketch.</desc>
    <g
      id="icons"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="ui-gambling-website-lined-icnos-casinoshunter"
        transform="translate(-1906.000000, -284.000000)"
        fill="#eee"
        fill-rule="nonzero"
      >
        <g id="1" transform="translate(1350.000000, 120.000000)">
          <path
            d="M576,164 L576,168.981209 C576,170.610108 577.142315,172.000506 578.659002,172.000506 L583,172 L583,193.000506 C583,194.65736 581.656854,196.000506 580,196.000506 L559,196.000506 C557.343146,196.000506 556,194.65736 556,193.000506 L556,167.000506 C556,165.343652 557.343146,164.000506 559,164.000506 L576,164 Z M575,183 L564,183 C563.447715,183 563,183.447715 563,184 C563,184.552285 563.447715,185 564,185 L564,185 L575,185 C575.552285,185 576,184.552285 576,184 C576,183.447715 575.552285,183 575,183 L575,183 Z M575,179 L564,179 C563.447715,179 563,179.447715 563,180 C563,180.552285 563.447715,181 564,181 L564,181 L575,181 C575.552285,181 576,180.552285 576,180 C576,179.447715 575.552285,179 575,179 L575,179 Z M575,175 L564,175 C563.447715,175 563,175.447715 563,176 C563,176.552285 563.447715,177 564,177 L564,177 L575,177 C575.552285,177 576,176.552285 576,176 C576,175.447715 575.552285,175 575,175 L575,175 Z M578.001029,164.258936 C578.120967,164.326654 578.234368,164.407023 578.339153,164.499258 L582.32146,168.004649 C582.752813,168.384344 583,168.931237 583,169.505897 L583,170 L578.659002,170.000506 C578.343206,170.000506 578,169.582763 578,168.981209 L578.001029,164.258936 Z"
            id="document"
          >
          </path>
        </g>
      </g>
    </g>
  </svg>
</a>

<style>
  svg {
    fill: var(--white-color);
    transition: transform 0.23s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media (max-width: 360px) {
    svg {
      width: 1.8em;
    }
  }

  @media (prefers-color-scheme: light) {
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }
</style>
