---
import { Image } from "astro:assets";
import DownArrow from "./DownArrow.astro";
import LanguagesIcon from "./LanguagesIcon.astro";

import SpainFlagIcon from "@/assets/imgs/flag-of-spain.svg";
import GBFlagIcon from "@/assets/imgs/flag-of-gb.svg";
---

<div id="dropdown">
  <button aria-label="Languages button">
    <LanguagesIcon />
    <DownArrow />
  </button>
  <ul id="dropdown-items">
    <li>
      <a href="/"
        ><Image
          src={SpainFlagIcon}
          alt="The icon of a flag of Spain"
          width={30}
          height={30}
        /> Español</a
      >
    </li>
    <li>
      <a href="/eng"
        ><Image
          src={GBFlagIcon}
          alt="The icon of a flag of Great Britain"
          width={30}
          height={30}
        /> Inglés</a
      >
    </li>
  </ul>
</div>

<style>
  #dropdown {
    position: relative;

    &:hover #dropdown-items {
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border: 1px solid var(--secondary-color);
    }

    button {
      border: none;
      background: none;
      padding: auto;
      display: flex;
      align-items: center;
      gap: 7px;
    }

    #dropdown-items {
      list-style: none;
      border-radius: 5px;
      display: none;
      background: var(--primary-color);
      position: absolute;
      top: 1.7em;
      right: auto;
      font-size: 0.85rem;
      overflow: hidden;
      width: 8em;

      a {
        text-decoration: none;
        color: var(--white-color);
        transition: color 0.15s ease-in;
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
      a:hover {
        color: var(--secondary-lighter__color);
      }
    }
  }
</style>
