---
import DownArrow from "./DownArrow.astro";
import LanguagesIcon from "./LanguagesIcon.astro";

---

<div id="dropdown">
  <button>
    <LanguagesIcon />
    <DownArrow />
  </button>
  <ul id="dropdown-items">
    <li><a href="/">Spanish</a></li>
    <li><a href="/eng">English</a></li>
  </ul>
</div>

<style>
  ul { list-style: none; }

  a {
    text-decoration: none;
    color: var(--white);
  }a:hover {
    color: rgb(209, 202, 202);
  }

  #dropdown {
    position: relative;
  }

  button {
    border: none;
    background: none;
    padding: auto;
    display: flex;
    align-items: center;
  }

  #dropdown-items {
    border-radius: 3px;
    display: none;
    padding: 9px;
    background: rgb(54, 53, 53);
    position: absolute;
    top: 1.2em;
    right: auto;
    overflow: auto;
    text-align: center;
    font-size: .85rem;
    transition: display .2s ease-in;
  }

  #dropdown:hover #dropdown-items {
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  
</style>
