---
import { Image } from "astro:assets";
import DownArrow from "./DownArrow.astro";
import LanguagesIcon from "./LanguagesIcon.astro";

import SpainFlagIcon from "@/assets/imgs/flag-of-spain.svg";
import GBFlagIcon from "@/assets/imgs/flag-of-gb.svg";
---

<div class="dropdown-wrapper">
  <div id="dropdown">
    <button class="dropdown-btn" popovertarget="dropdown-items" aria-label="Languages button">
      <LanguagesIcon />
      <DownArrow />
    </button>
  </div>
  <dialog popover id="dropdown-items">
    <a href="/"
      ><Image src={SpainFlagIcon} alt="The icon of a flag of Spain" /> Español</a
    >
    <a href="/eng"
      ><Image src={GBFlagIcon} alt="The icon of a flag of Great Britain" /> Inglés</a
    >
  </dialog>
</div>

<style>
  .dropdown-wrapper{
  #dropdown {
    .dropdown-btn {
      display: flex;
      align-items: center;
      gap: 7px;
      anchor-name: --btn;
    }
  }

  #dropdown-items {
    /* Posicionamiento y estructura */
    position-anchor: --btn;
    position: absolute;
    inset: auto;
    top: anchor(bottom);
    left: anchor(left);
    overflow: hidden;
    margin: 0;
    padding: .55rem .77rem;
    position-try-fallbacks: --left;
    /* Visualización */
    display: none;
    opacity: 0;
    border-radius: 0.55rem;
    background: rgb(9 15 26);
    border: 1px solid var(--secondary-lighter__color);
    transition: display .2s, opacity .2s;
    transition-behavior: allow-discrete;

    & > * {
      padding: .5rem;
    }

    &:popover-open {
      display: grid;
      opacity: 1;

      @starting-style {
        display: grid;
        opacity: 0;
      }
    }

    a {
        text-decoration: none;
        color: var(--white-color);
        transition: color 0.15s ease-in;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        &:hover {
          color: var(--secondary-lighter__color);
        }
      }
      img {
        aspect-ratio: 1/1;
        width: 20px;
        height: 20px;
      }
    }
  }
}

@position-try --left {
    inset: auto;
    top: anchor(bottom);
    right: anchor(right);
}
</style>
