<div id="aurora"></div>

<style>
  #aurora {
    z-index: 1;
    display: block;
    overflow: hidden;
    background: radial-gradient(
      19.76% 18.97% at 50% 50%,
      rgba(158, 25, 70, 0.2) 0%,
      rgba(158, 25, 70, 0) 100%
    );
    position: absolute;
    left: 0;
    top: -35em;
    transform: translateX(-60em);
    width: 1673px;
    height: 1673px;
    border-radius: 1673px;
  }

  @media screen and (max-width: 500px) {
    #aurora {
      width: 673px;
      height: 673px;
    }
  }
</style>
