---
interface Props {
  link: string;
  width: string;
  height: string;
}

const { link, width, height } = Astro.props;
---

<a class="button" href={link} target="_blank">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width={width}
    height={height}
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
    ></path>
    <path d="M11 13l9 -9"></path>
    <path d="M15 4h5v5"></path>
  </svg> View Page
</a>

<style>
  .button {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.7em 1em;
    border: 1px solid var(--blue-color);
    border-radius: 0.77rem;
    color: var(--white-c-900);
    background-image: linear-gradient(to right, var(--primary-color), #111b2c);
    transition: filter 0.09s ease-in;
    user-select: none;

    &:hover {
      filter: drop-shadow(0 0 0.15rem var(--blue-color));
    }
  }

  svg {
    transition: transform 0.23s ease-in-out;
  }

  @media (prefers-color-scheme: light) {
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }
</style>
