---
import { t } from "i18next";
---

<div class="avail-text">
  <div class="effect-wrapper">
    <span class="effect"></span>
    <span></span>
  </div>
  <p class="over-title">{t("hero.available")}</p>
</div>

<style>
  .avail-text {
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid rgba(255, 125, 169, 0.55);
    border-radius: 100vw;
    min-width: min(100%, 20em);
    background: rgba(255, 125, 169, 0.08);
    color: var(--white-color);
    @media (prefers-color-scheme: light) {
      color: var(--primary-color);
    }

    .effect-wrapper {
      position: relative;
      .effect {
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: 50%;
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
        background-color: rgba(255, 125, 169, 0.85);
      }

      span {
        margin: auto;
        padding: 0.5rem;
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background-color: rgba(255, 125, 169, 0.85);
        filter: drop-shadow(0px 0px 17px rgba(255, 40, 113, 0.7));
      }
    }

    .over-title {
      font-family: "Arial", sans-serif;
      font-size: 0.8rem;
      text-box: cap alphabetic;
    }
  }
</style>
