<section>
  <div>
    <div id="about-desc-container">
      <div>
        <div id="watermark">Sobre mí</div>
        <h2>Sobre mí</h2>
        <p class="about-desc"><b>Hola!</b> Me llamo Elías Pereyra Gómez, soy desarrollador web. El entusiasmo por el mundo de la web comenzó en el año 2015, cuando conocí por primera vez los lenguajes de marcado: HTML y CSS. Más adelante, me fui adentrando a los lenguajes de programación, como PHP, Java y JavaScript.</p>
        <p class="about-desc">En el desarrollo web hay muchas áreas, y de las tantas, me fascinan el desarrollo fullstack y el diseño UI.</p>
      </div>
      <div>
        <img src="" alt="foto de perfil" />
      </div>
    </div>

    <h3>Estos son los roles que me gusta aprender:</h3>

    <div id="skills">
      <div></div>
    </div>
  </div>
</section>

<style>
  section {
    padding: 4em 3em;
    position: relative;
  }

  #watermark {
    position: absolute;
    opacity: .03;
    font-size: 10rem;
    top: 0;
    left: 0;
    z-index: 999;
  }

  #about-desc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6em 0;
  }

  .about-desc {
    font-weight: 400;
    width: 55ch;
    line-height: 1.5em;
  }
</style>
