---
import '../styles/global.css';
---

<section id="contact" onsubmit="mailto:eliaspereyra_gomez@hotmail.com">
  <div id="contact-container">
    <div id="contact-container__right-side">
      <h2>Would you like to work with me?</h2>
      <p>I'd like to hear your proposals and make an incredible work together</p>
    </div>
    <div id="contact-container__content">
      <form onsubmit="mailto:eliaspereyra_gomez@hotmail.com">
        <label>Name</label>
        <input type="text" required />

        <label>Email</label>
        <input type="email" required />

        <label>Message</label>
        <textarea rows="3" required></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section>

<style>
  section { 
    padding: 4em 3em; 
    /* background: radial-gradient(54.59% 54.62% at 52.19% 50%, rgba(255, 255, 255, 0) 0%, #F7F5FA 100%); */
    background: #fde6c2;
  }

  #contact-container {
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center;
  }#contact-container p { width: 40ch; }

  #contact-container__right-side {
    width: 80%;
  }

  #contact-container__right-side h2 {
    margin: 0;
    font-size: 2rem;
  }

  #contact-container__content {
    display: flex;
    flex-direction: column;
    gap: .1em;
    width: 100%;
  }

  #contact-container__content p {
    font-size: 1.2rem;
    color: var(--light-dark);
  }

  #contact-container__content #contact-btn {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    width: 7em;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    border-radius: 5px;
    padding: .7em 2em;
    transition: opacity .3s ease-in-out;
  }#contact-container__content #contact-btn:hover {
    opacity: .8;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  input {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: .6em;
    width: 90%;
    margin-bottom: 1.2em;
    transition: .2s all ease-in-out;
  }input:focus {
    outline: 1px solid #a17412;
  }

  textarea {
    padding: .6em;
    border: none;
    border-radius: 5px;
    width: 90%;
    transition: .2s all ease-in-out;
    background-color: #ffffff;
  }textarea:focus {
    outline: 1px solid #a17412;
  }

  button {
    background: none;
    border: none;
    border-radius: 5px;
    padding: .6em;
    margin-top: 1em;
    width: 30%;
    font-size: .8rem;
    outline: 1px solid #a17412;
    transition: .2s all ease-in-out;
  }button:hover {
    background: #ffdb8e;
    outline: 1px solid #cc992b;
  }
</style>
