<section>
  <div>
    <div><img src="" alt="cellphone saludando con buena onda" /></div>
    <div>
      <h3>Te gustaría trabajar conmigo?</h3>
      <p>Me gustaría escuchar tus propuestas y realizar un trabajo increíble juntos</p>
      <button><b>contáctame</b></button>
    </div>
  </div>
</section>

<style>
  section {
    padding: 4em 3em;
  }
</style>
