---
import CVButton from '../components/CV_Button.astro'
import '../styles/global.css'
---

<section>
  <div id="hero-content">
    <h1><span id="designer">Diseñador</span> <span id="upper-line">y</span> <br /><span id="developer">Desarrollador</span></h1>
    <h3>
      Me gusta hacer diseños y desarrollos que contribuyan satisfacción y contento
    </h3>
    <div id="btns-wrapper">
      <a id="btn-filled" href="#contact"><b>Entremos en contacto</b></a>
			<CVButton />
    </div>
    <img src="" alt="una flecha va acá" />
  </div>

  <div id="laptop-img">
    <img src="assets/laptop-ecommerce.webp" alt="Una compu va acá" />
  </div>
</section>

<style>
	:root {
		--bckg-gradient: linear-gradient(150deg, #F8F7FF 43.69%, rgba(249, 248, 255, 0) 99.28%);
	}

	section {
		display: flex;
		align-items: center;
		padding: 7em 0;
		background: var(--bckg-gradient);
	}

	#hero-content{
		padding: 0 4em;
		display: flex;
		flex-direction: column;
	}	
	
	#laptop-img {
		margin-left: 2em;
	}
	img {
		width: 21em;
	}

  h1 {
		margin: 0;
		position: relative;
	}#designer {
		color: var(--orange);
	}h1::before {
		content: url('assets/upper-line.png');
		position: absolute;
		margin-top: -.7em;
	}
	#developer {
		color: var(--dark-green);
	}

	h3 {
		color: var(--light-dark);
		width: 52ch;
		font-weight: 400;
		margin-top: .4em;
		margin-bottom: 1em;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	#btns-wrapper {
		display: flex;
		gap: .7em;
	}a {
    text-decoration: none;
		border-radius: 5px;
    font-size: 1rem;
    padding: .7em;
		text-align: center;
		width: 11em;
		transition: opacity .3s ease-in-out;
		border: 2px solid var(--dark-blue);
  }a:hover {
	}
	#btn-filled {
		background-color: var(--dark-blue);
		color: white;
	}#btn-filled:hover {
		opacity: .9;
	}
</style>
