---
import '../styles/global.css'
---

<section>
  <div id="hero-content">
    <h1><span id="designer">Diseñador</span> y <br /><span id="developer">Desarrollador</span></h1>
    <h3>
      Me gusta hacer diseños y desarrollos que contribuyan satisfacción y contento
    </h3>
    <div id="btns-wrapper">
      <button id="btn-filled"><b>¡Entremos en contacto!</b></button>
      <button id="btn-empty">Descargar <b>CV</b></button>
    </div>
    <img src="" alt="una flecha va acá" />
  </div>

  <div id="laptop-img">
    <img src="assets/laptop.webp" alt="Una compu va acá" />
  </div>
</section>

<style>
	:root {
		--bckg-gradient: linear-gradient(121.95deg, #F8F7FF 43.69%, rgba(248, 247, 255, 0) 99.28%);
	}

	section {
		display: flex;
		padding: 3em 0;
		background: var(--bckg-gradient);
	}

	#hero-content{
		padding: 0 3em;
		display: flex;
		flex-direction: column;
	}	

	img {
		width: 18em;
	}

  h1 {
		margin: 0;
	}#designer {
		color: var(--orange);
	}#developer {
		color: var(--dark-green);
	}

	h3 {
		color: var(--light-dark);
		width: 52ch;
		font-weight: 400;
		margin-top: .4em;
		margin-bottom: 1em;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	#btns-wrapper {
		display: flex;
		gap: .7em;
	}button {
    border: none;
		border-radius: 5px;
    font-size: 1rem;
    padding: .7em;
		min-width: 14em;
		transition: opacity .3s ease-in-out;
  }button:hover {
	}
	#btn-filled {
		background-color: var(--dark-blue);
		color: white;
	}#btn-filled:hover {
		opacity: .9;
	}#btn-empty {
		background-color: transparent;
		border: 2px solid var(--dark-blue);
		color: var(--dark-blue);
		transiton-property: border color;
		transition-duration: 0.4s;
		transition-timing-function: ease-in-out;
		-webkit-transition-property: border, color;
  	-webkit-transition-duration: 0.4s;
  	-o-transition-property: border, color;
  	-o-transition-duration: 0.4s;
	}#btn-empty:hover {
		border: 2px solid var(--orange);
		color: var(--orange);	
	}
</style>
