<section>
  <div id="hero-content">
    <h1><span>Diseñador</span> y <br /><span>Desarrollador</span></h1>
    <h3>
      Me gusta hacer diseños y desarrollos que contribuyan satisfacción y contento
    </h3>
    <div>
      <button><b>¡Entremos en contacto!</b></button>
      <button>Descargar <b>CV</b></button>
    </div>
    <img src="" alt="una flecha va acá" />
  </div>

  <div>
    <img src="" alt="Una compu va acá" />
  </div>
</section>

<style>
  h1 {
		margin: 0;
	}

	h3 {
		color: gray;
		width: 54ch;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	button {
    border: none;
		border-radius: 5px;
    font-size: 1rem;
    padding: 1em;
		background-color: darkblue;
		color: white;
		min-width: 14em;
  }

	section {
		padding: 3em 0;
	}

	#hero-content{
		padding: 0 3em;
		display: flex;
		flex-direction: column;

	}
</style>
