---
  import Card from '../components/Card.astro'

  import '../styles/global.css'

  const projects = [
    {
      title: "Expense Tracker",
      body: "This is a description for this particular project. It was made with such technologies.",
      tags: [

      ],
      live: "https://app.com",
      repo: "https://github.com/eliaspereyra/"
    },
    {
      title: "Expense Tracker",
      body: "This is a description for this particular project. It was made with such technologies.",
      tags: [
        
      ],
      live: "https://app.com",
      repo: "https://github.com/eliaspereyra/"
    },
    {
      title: "Expense Tracker",
      body: "This is a description for this particular project. It was made with such technologies.",
      tags: [
        
      ],
      live: "https://app.com",
      repo: "https://github.com/eliaspereyra/"
    }
  ]
---

<main>
  <h2>Mis Últimos Proyectos</h2>
  <ul>
    {projects.map(({title, body, live}) => <Card title={title} body={body} href={live} />)}
  </ul>
  <button id="btn-more"><b>Ver más</b></button>
</main>

<style>
  h2 {text-align: center; margin: 4em 0; color: white;}
  
  main {
    padding: 2em 3em;
    background: linear-gradient(180deg, #101732 0%, #060C21 100%);
  }

  #btn-more {
    display: block;
    margin: auto;
    padding: 1em 3em;
    border: none;
    border-radius: 5px;
    width: 14em;
    color: var(--dark-blue);
    background-color: white;
    font-weight: bold;
  }
</style>
