---
import { t } from "i18next";

import Languages from "./Languages.astro";
import LogoWhite from "@/components/atoms/LogoWhite.astro";

const {pathname} = Astro.url

const currentBlogPathName = pathname === "/" ? "/blog": "/eng/blog"
---
<nav id="navbar" transition:animate="fade">
  <a href="/">
    <LogoWhite width="73" height="73" />
  </a>
  <ul class="navbar-items">
    <li><a href="/#">{t("navbar.home")}</a></li>
    <li><a href="/#about">{t("navbar.about")}</a></li>
    <li><a href="/#portfolio">{t("navbar.projects")}</a></li>
    <li><a href={currentBlogPathName}>Blog</a></li>
    <li><a href="/#contact">{t("navbar.contact")}</a></li>
  </ul>
  <div class="icons">
    <Languages />
  </div>
</nav>

<style>
  @keyframes stickyNav {
    0% {
      border-radius: 0;
    }

    100% {
      top: .3rem;
      background-color: var(--_surfaceColorEnd);
      border-radius: 100vw;
    }
  }

  #navbar {
    --_animationStartsAfter: 10vh;
    --_animationDistance: 500px;
    --_surfaceColorStart: hsl(223, 44%, 14%);
    --_surfaceLightColorStart: #e4ecf1;
    --_surfaceColorEnd: hsl(0 50% 90% / 0.1);
    --_logoAfterAnimation: none;

    @supports (animation-timeline: view()) {
      top: -5rem;
      backdrop-filter: blur(100px) saturate(130%) drop-shadow(0 0 0.75rem #2d59d4fa);

      animation: stickyNav linear forwards;
      animation-timeline: view();
      animation-range-start: calc(100vh + var(--_animationStartsAfter));
      animation-range-end: calc(100vh + var(--_animationStartsAfter) + var(--_animationDistance));
    }

    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .04em 10em;
    background-color: var(--_surfaceColorStart);
    @media (prefers-color-scheme: light) {
      & {
        background-color: var(--_surfaceLightColorStart);
      }
    }

    @media (max-width: 900px) {
        padding: .6em 2em;
    }
    @media (max-width: 375px) {
        padding: 1em 2em;
    }

    a {
      text-decoration: none;
      color: var(--white-color);
      font-weight: 500;
    }

    @media (prefers-color-scheme: light) {
      a {
        color: var(--primary-color);
      }
    }

    ul {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 1.9em;

      @media (max-width: 900px) {
        display: none;
      }

      li {
        list-style: none;
        font-size: 0.8rem;
        transition: color .15s ease-in-out, text-decoration: .15s ease-in-out;

        :hover {
          text-decoration: underline;
          text-underline-offset: 10px;
          color: var(--secondary-lighter__color);
        }
      }
    }

    .icons {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
</style>
